.full-windows {
	// background-color: black;
	// height: 100vh;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	// align-items: center;
	gap: 2rem;

	.project-n-windows {
		background-color: white;
		border-radius: 10px;
		width: 80%;
		// margin: 2rem;

		.headings-windows {
			// border-radius: 20px;
			margin-left: 20px;
			margin-right: 20px;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.dots-windows {
				display: flex;
				flex-direction: row;
				gap: 1rem;
				font-size: 1.5rem;
				font-family: monospace;
			}

			.title-windows {
				margin: 10px;
				font-size: 1.5rem;
				// font-weight: 600;
				// color: #095018;
				color: black;
				font-family: monospace;
			}
		}

		.description-windows {
			padding-top: 10px;
			padding-left: 4px;
			background-color: #002457;
			display: flex;
			flex-direction: row;
			justify-content: start;
			// gap: 2rem;
			font-size: 1rem;
			color: white;
			font-family: monospace;

			p {
				font-family: monospace;
			}

			.points-windows {
				display: flex;
				flex-direction: column;
			}
		}

		.tech-windows {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			background-color: #002457;
			padding-top: 10px;
			padding-bottom: 15px;
			padding-left: 4px;

			p {
				font-size: 1rem;
				// font-weight: 600;
				color: white;
				font-family: monospace;
			}
		}

		// box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
	}
}
