@font-face {
	font-family: 'hw_3d';
	src: url(/assets/fonts/C3dsouthwest-Regular.ttf);
}
@font-face {
	font-family: 'hw';
	src: url(/assets/fonts/Myfont-Regular.ttf);
}

html {
	// scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	// overflow-y: scroll;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'hw_3d';
}

body {
	// Optional: Add padding for aesthetic effect.
	padding: 0;
}

section {
	scroll-snap-align: start;
}

#profile {
	display: flex;
	justify-content: space-between;
	gap: 6.5rem;
	height: 80vh;

	.face {
		margin-left: 2rem;
	}
}
.bgimage {
	background-image: url(/assets/images/Final.png);
	background-size: cover;
	// background-size: 100%;
	background-position: center;
	// height: 100%;
	width: 100%;
	position: relative;
	// z-index: -1;
}
.underconstruction {
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: start;
	font-size: 5rem;
	color: rgb(40, 36, 36);
}

/* Responsive styles for mobile devices */
.mobile-only {
	display: none;
}

.desktop-only {
	display: block;
}

/* Standard breakpoint for mobile devices */
@media (max-width: 1080px) {
	.mobile-only {
		display: block;
	}

	.desktop-only {
		display: none;
	}
}

/* Remove all iOS-specific overrides */
